* {
  box-sizing: border-box;
}
::-moz-selection {
  background: #F34A4E;
  color: #FFF;
}
::selection {
  background: #F34A4E;
  color: #FFF;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #F34A4E;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background: #FED0D1;
}
h1 {
  text-align: center;
  margin-top: 2em;
}
.col {
  padding-bottom: 20px;
  color: #424346;
  background: #FFF;
  box-shadow: 0 1px 6px rgba(0,0,0,.1);
}
.col h2,
.col p {
  margin: 0;
  padding: 0 20px;
}
.col h2 {
  margin: .75em 0 .5em;
}
.col p {
  margin-bottom: 20px;
  text-align: left;
  font-size: 0.9em;
}
.col .btn {
  margin-left: 20px;
}
.btn {
  padding: 8px 15px 6px;
  font-size: .7em;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  border-radius: 3px;
  background: #F34A4E;
  transition: all .275s;
}
.btn:hover,
.btn:focus {
  background:	#FED0D1;
  color: #F34A4E;
}
.thumbnail {
  line-height: 0;
  overflow: hidden;
}
.thumbnail img {
  transition: all .275s;
}
.thumbnail:hover img,
.thumbnail:focus img {
  filter: blur(2px) saturate(0);
}
.center {
  margin-top: 2em;
  text-align: center;
}
.center a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #F34A4E;
  border-bottom: 1px solid #F34A4E;
  transition: all .275s;
}
.center a:hover,
.center a:focus {
  opacity: 0.8;
  padding-bottom: 2px;
  border-bottom-color: rgba(243, 74, 95, .5);
}

/**
 * Flex things:
 * — Mobile first
 * — Responsive
 */
.flex .col img {
  width: 100%;
  height: auto;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 960px;
  max-width: 100%;
  margin: auto;
}
.flex .col {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
  /*
  If you need to keep good feeling
  about images growings, you'd
  better do:
  flex: 0 1 300px;
   */
  margin: 1em 0.5em;
}
.flex .col .btn {
  align-self: flex-start;
  margin-top: auto;
}

@media (max-width: 900px) {
  .flex {
    flex-wrap: wrap;
  }
}
